button{
    border: none;
    background-color: var(--color-light-1);
}

.button__new-task{
    height: 40px;
    width: 40px;
    mask: url('../../icons/add-task-button.svg') no-repeat center;
    mask-size: 60%;
}

.button__search-task{
    height: 40px;
    width: 40px;
    mask: url('../../icons/search-task-button.svg') no-repeat center;
    mask-size: 60%;
}

.todo__theme{
    height: 25px;
    width: 25px;
    mask: url('../../icons/sun-button.svg') no-repeat center;
    mask-size: cover;

    &:hover{
        background-color: var(--color-light-2);
    }


}



