body{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 30px;
    color: var(--color-text-1);
    background-color: var(--color-grey-light-3);
    font-family: "Inter", sans-serif;
}

input,
label,
button {
    font-family: inherit;
}

button{
    border: none;
    background-color: var(--color-text-1);
    transition-duration: var(--transition-duration);
}

:focus-visible{
    outline: solid 1px var(--color-text-1);
    outline-offset: -2px;
    transition-duration: 0s !important;
}

html.is_dark-theme{
    --color-dark-shadow: #161416;
    --color-grey-light-3: #232526;
    --color-grey-light-4: #484a4c;
    --color-text-2: #632863;

    --border: 1px solid var(--color-grey-light-4);

    --icon-theme-url: url('/icons/sun-button.svg') right 8px center no-repeat;
}